.titre-section {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.titre-section::before {
    content: "";
    width: 10px;
    height: 15px;
    background-color: black;
    margin-right: 8px;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    transition: transform 0.3s;
}