.pods-form-ui-row-name-numeros-on {
    counter-reset: numero -1;
}

.pods-form-ui-row-name-numeros-on .pods-field-wrapper__controls {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.pods-form-ui-row-name-numeros-on .pods-field-wrapper__controls.pods-field-wrapper__controls--start::after {
    content: "ON-" counter(numero);
    counter-increment: numero;
    line-height: 1.5em;
    font-size: 12px;
    margin: 5px 0;
    display: inline-block;
}

#woocommerce-order-items .find-results-full-screen-mode .multiselect__element .multiselect__option .option__block.option__element__full-screen-mode,
#woocommerce-order-items .multiselect__element .multiselect__option .option__block.option__element__default {
	display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #0073aa !important;
    color: #fff;
}

.on-subscription-numeros {
    margin-top: 20px; padding: 15px; background: #f8f8f8; border: 1px solid #ddd; border-radius: 4px;
}